services:
  app:
    build:
      context: .
      dockerfile: ./docker/php/Dockerfile
      target: prod
    container_name: app
    volumes:
    - ./storage/app/public:/var/www/html/storage/app/public
    env_file:
      - .env
    networks:
      - laravel

  web:
    image: nginx:stable-alpine
    container_name: web
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./:/var/www/html
      - ./docker/nginx/prod.conf:/etc/nginx/conf.d/default.conf
      - webroot:/var/www/certbot
      - certs:/etc/letsencrypt
    depends_on:
      - app
    networks:
      - laravel

  db:
    image: postgres:16-alpine
    container_name: db
    env_file:
      - .env
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - laravel

  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - webroot:/var/www/certbot
      - certs:/etc/letsencrypt
    networks:
      - laravel

volumes:
  db_data:
  storage_data:
  webroot:
  certs:

networks:
  laravel:
