services:
  app:
    build:
      context: .
      dockerfile: ./docker/php/Dockerfile
      target: prod
    container_name: app
    volumes:
    - ./storage/app/public:/var/www/html/storage/app/public
    env_file:
      - .env
    networks:
      - laravel

  db:
    image: postgres:16-alpine
    container_name: db
    env_file:
      - .env
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - laravel

volumes:
  db_data:

networks:
  laravel:
